.idea
.vs
.vscode
.DS_Store
.DS_Store
Dji.Application/bin
Dji.Application/obj
Dji.Application/Configuration
Dji.Core/bin
Dji.Core/obj
Dji.Web.Core/bin
Dji.Web.Core/obj
Dji.Web.Entry/bin
Dji.Web.Entry/obj
Dji.Web.Entry/logs
